@use "variables";
@use "mixins";
@use "buttons";

body {
    margin: 0;
    background-color: variables.$theme-background-color__primary;
    color: var(--text);
    background-image: url("../images/pokemon.png");
    background-size: cover;
    background-repeat: no-repeat;
}